# Django Settings
SECRET_KEY=your-very-secret-key-here
DEBUG=True

# Security Settings
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
FRONTEND_URL=http://localhost:5173

# Supabase / PostgreSQL Configuration
DB_HOST=xxxxxx.pooler.supabase.com
DB_NAME=postgres
DB_USER=postgres.xxxxxxxxx
DB_PASSWORD=your-database-password
DB_PORT=6543

# Email Configuration (Brevo)
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-brevo-username
EMAIL_HOST_PASSWORD=your-brevo-password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=your@email.com


# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret