SECRET_KEY=kdnjdnwjndjnq8U482Y7Y747GHE2H82717YGY2GYG
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CORS_ALLOWED_ORIGINS=http://localhost:5173

# Supabase Configuration
DB_HOST=aws-0-eu-west-1.pooler.supabase.com
DB_NAME=postgres
DB_USER=postgres.bggjtcyfbaioakbhsuad
DB_PASSWORD=crowdfunding@543211
DB_PORT=6543